In [1]:
import pandas as pd

In [2]:
researchDf = pd.read_csv('data/researchDf.csv')

C:\Users\12427\AppData\Local\Temp\ipykernel_12308\2599536906.py:1: DtypeWarning: Columns (218) have mixed types. Specify dtype option on import or set low_memory=False.
  researchDf = pd.read_csv('data/researchDf.csv')

In [3]:
researchDf

,person,adb_id,Sun_sign,Sun_dignity,Sun_element,Sun_modality,Sun_bound,Moon_sign,Moon_dignity,Moon_element,...,vi_stellium,li_stellium,ar_stellium,sa_stellium,Key,name,category,subcategory,detail,comment
0,Annette von Droste-Hülshoff,24,cp,peregrine,earth,cardinal,Venus,ge,peregrine,air,...,NaN,NaN,NaN,NaN,1000024,Annette von Droste-Hülshoff,Vocation,Writers,Fiction,NaN
1,Annette von Droste-Hülshoff,24,cp,peregrine,earth,cardinal,Venus,ge,peregrine,air,...,NaN,NaN,NaN,NaN,1000024,Annette von Droste-Hülshoff,Vocation,Writers,Poet,NaN
2,James Russell Lowell,31,pi,peregrine,water,mutable,Venus,aq,peregrine,air,...,NaN,NaN,NaN,NaN,1000031,James Russell Lowell,Vocation,Education,Teacher,Harvard professor
3,James Russell Lowell,31,pi,peregrine,water,mutable,Venus,aq,peregrine,air,...,NaN,NaN,NaN,NaN,1000031,James Russell Lowell,Vocation,Writers,Poet,NaN
4,James Russell Lowell,31,pi,peregrine,water,mutable,Venus,aq,peregrine,air,...,NaN,NaN,NaN,NaN,1000031,James Russell Lowell,Notable,Book Collection,American Book,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62340,Raychelle Burks,94699,ar,Exaltation,fire,cardinal,Saturn,cn,Domicile,water,...,NaN,NaN,1.0,NaN,1094699,Raychelle Burks,Vocation,Science,Chemistry,NaN
62341,Raychelle Burks,94699,ar,Exaltation,fire,cardinal,Saturn,cn,Domicile,water,...,NaN,NaN,1.0,NaN,1094699,Raychelle Burks,Notable,Awards,Vocational award,NaN
62342,Julie Aleman,94705,li,Fall,air,cardinal,Mercury,ta,Exaltation,earth,...,NaN,1.0,NaN,NaN,1094705,Julie Aleman,Vocation,Entertainment,News journalist/ Anchor,NaN
62343,Julie Aleman,94705,li,Fall,air,cardinal,Mercury,ta,Exaltation,earth,...,NaN,1.0,NaN,NaN,1094705,Julie Aleman,Vocation,Entertain/Business,Entertain Producer,NaN
62344,Julie Aleman,94705,li,Fall,air,cardinal,Mercury,ta,Exaltation,earth,...,NaN,1.0,NaN,NaN,1094705,Julie Aleman,Vocation,Writers,Columnist/ journalist,NaN

In [8]:
for name, df in researchDf.groupby("category"):
    print(name)

Diagnoses
Family
Lifestyle
Mundane
Notable
Passions
Personal
Traits
Vocation

In [9]:
df

,person,adb_id,Sun_sign,Sun_dignity,Sun_element,Sun_modality,Sun_bound,Moon_sign,Moon_dignity,Moon_element,...,vi_stellium,li_stellium,ar_stellium,sa_stellium,Key,name,category,subcategory,detail,comment
0,Annette von Droste-Hülshoff,24,cp,peregrine,earth,cardinal,Venus,ge,peregrine,air,...,NaN,NaN,NaN,NaN,1000024,Annette von Droste-Hülshoff,Vocation,Writers,Fiction,NaN
1,Annette von Droste-Hülshoff,24,cp,peregrine,earth,cardinal,Venus,ge,peregrine,air,...,NaN,NaN,NaN,NaN,1000024,Annette von Droste-Hülshoff,Vocation,Writers,Poet,NaN
2,James Russell Lowell,31,pi,peregrine,water,mutable,Venus,aq,peregrine,air,...,NaN,NaN,NaN,NaN,1000031,James Russell Lowell,Vocation,Education,Teacher,Harvard professor
3,James Russell Lowell,31,pi,peregrine,water,mutable,Venus,aq,peregrine,air,...,NaN,NaN,NaN,NaN,1000031,James Russell Lowell,Vocation,Writers,Poet,NaN
5,Anton Bruckner,32,vi,peregrine,earth,mutable,Venus,cp,Detriment,earth,...,NaN,NaN,NaN,NaN,1000032,Anton Bruckner,Vocation,Entertain/Music,Composer/ Arranger,Composer of symphonies
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62339,Raychelle Burks,94699,ar,Exaltation,fire,cardinal,Saturn,cn,Domicile,water,...,NaN,NaN,1.0,NaN,1094699,Raychelle Burks,Vocation,Entertainment,TV host/ Personality,NaN
62340,Raychelle Burks,94699,ar,Exaltation,fire,cardinal,Saturn,cn,Domicile,water,...,NaN,NaN,1.0,NaN,1094699,Raychelle Burks,Vocation,Science,Chemistry,NaN
62342,Julie Aleman,94705,li,Fall,air,cardinal,Mercury,ta,Exaltation,earth,...,NaN,1.0,NaN,NaN,1094705,Julie Aleman,Vocation,Entertainment,News journalist/ Anchor,NaN
62343,Julie Aleman,94705,li,Fall,air,cardinal,Mercury,ta,Exaltation,earth,...,NaN,1.0,NaN,NaN,1094705,Julie Aleman,Vocation,Entertain/Business,Entertain Producer,NaN
62344,Julie Aleman,94705,li,Fall,air,cardinal,Mercury,ta,Exaltation,earth,...,NaN,1.0,NaN,NaN,1094705,Julie Aleman,Vocation,Writers,Columnist/ journalist,NaN

In [16]:
test = df[~df['person'].duplicated()]

In [20]:
test['Mercury_house'].value_counts()

house11    2917
house10    2850
house12    2797
house2     2670
house1     2667
house3     2589
house9     2568
house4     2387
house8     2244
house5     2167
house7     2158
house6     2127
Name: Mercury_house, dtype: int64

In [4]:
mystr = 'ab ab <script src="../../build/astrochart.js"></script>'

SyntaxError: invalid syntax (4180961577.py, line 1)

In [3]:
mystr.find('ab')

0